*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family:'Roboto', sans-serif;
   

}
body{

    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 38%, rgba(0,212,255,1) 100%);
}
form, div{

    width: 40%;
    min-width:350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(133, 115, 115, 0.877);
    margin: 100px auto;
    padding: 10px;

    
}
input, textarea{
    padding-left: 10px;
    min-width: 300px;
    height: 40px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid;
    margin-top: 20px;
}

textarea{
    height: 200px;
    padding-top: 10px;

}
button, a {
    display: block;
    margin: 20px auto;
    height: 40px;
    width: 60%;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}
button:active{
    opacity: 0.6;
}
a:hover{
    opacity: 0.8;
}
a:active{
    opacity: 0.6;
}
a{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
h1{
    text-align: center;

}